<div class="is-half">
    <article class="media box">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.purina-latam.com%2Fmx%2Fpurina%2Fnota%2Fgatos%2Fgatos-en-adopcion-que-saber-de-los-gatitos-bebes&psig=AOvVaw1STZFn7O2cUVxUQhoa-JAN&ust=1623372321027000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDWuabri_ECFQAAAAAdAAAAABAD">
            </p>
        </figure>
    </article>
    <div class="media-content">
        <%= render 'tweets/form'%>
    </div>
</div>